.icon {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    background-color: #ffffff;
    border-radius: 100px;
    padding: 17px 17px;
    margin-right: 22px;
    z-index: 100;
}

.logo {
    width: 35px;
}