.introBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100svh;
    padding: 0 10px;
}

/*===========================================================================================*/
/*dark-mode*/

._darkModeBC {
    background-color: #02081a;
    color: #fff;
    transition: all 1s ease;
}




@media only screen and (max-height: 1245px) {
    .introBlock {
        min-height: 1245px;
    }
}

@media only screen and (max-height: 800px) {
    .introBlock {
        min-height: 1040px;
    }
}