.introMain {
    display: flex;
    width: calc(100% - 60px);
    background: #fff;
    padding: 30px;
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}


.text {
    width: 65%;
    font-size: 20px;
    text-align: left;
    letter-spacing: 2px;
}

.title {
    font-weight: 800;
    font-size: 50px;
    margin-top: 0;
}

.description {
    line-height: 1.8rem;
}

.icon {
    position: absolute;
    width: 50px;
    margin: 16px 25px;
    animation: 3s linear 0s normal none infinite running rot;
    -webkit-animation: 3s linear 0s normal none infinite running rot;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.imageContainer {
    transition: 1s ease 0s;
    padding: 0 0 10px 0;
    border-radius: 20px;
    background: #F6F6F6;
    box-shadow: 0 0 10px rgba(210, 97, 251, 0.55);
}

@media (any-hover: hover) {
    .imageContainer:hover {
        box-shadow: 0 0 25px #D261FB;
    }
}

.image {
    max-width: 250px;
    /*max-height: 300px;*/
    border-radius: 20px;
    border: 2px solid #F6F6F6;
}

/*для екранів 4k*/
@media only screen and (min-width: 2561px) {
    .image {
        max-width: 420px;
    }

    .text {
        width: 50%;
    }

    .title {
        font-weight: 800;
        font-size: 70px;
    }

    .description {
        line-height: 3.2rem;
        font-size: 40px;
    }

    .icon {
        width: 95px;
        margin: 7px 28px;
    }
}

/*для екранів 4k*/

@media only screen and (max-width: 1649.98px) {
    .image {
        max-width: 200px;
    }

    .title {
        font-weight: 800;
        font-size: 40px;
    }

    .description {
        line-height: 1.5rem;
        font-size: 17px;
    }

    .icon {
        width: 40px;
        margin: 13px 13px;
    }
}

@media only screen and (max-width: 1449.98px) {
    .text {
        padding-right: 60px;
    }

    .text br {
        display: none;
    }
}

@media only screen and (max-width: 767.98px) {
    .introMain {
        flex-direction: column-reverse;
    }

    .text {
        text-align: center;
        padding: 20px 10px 0 10px;
        width: 95%;
    }

    .title {
        font-size: 27px;
        line-height: 1.2em;
    }

    .icon {
        width: 30px;
        margin: 6px 6px;
    }

    .description {
        font-size: 14px;
        line-height: 1.3em;
    }
}

/*md0: 1649.98 */
/*md1: 1449.98;*/
/*!*$md2: 991.98;*!*/
/*!*$md3: 767.98;*!*/
/*!*$md4: 479.98;*!*/