.AboutMe {
    display: flex;
    padding: 150px 10px 150px 10px;
    /*align-items: center;*/
    width: 100%;
    min-width: 185px;
}

.imageSection {
}

.imageSection {
    width: 50%;
    max-width: 410px;
    min-width: 410px;
    max-height: 350px;
    overflow: hidden;
    border-radius: 1.7rem;
    margin-right: 85px;
    margin-top: 0;
}

.image {
    max-width: 500px;
    position: relative;
    bottom: 345px;
    right: 48px;
}

.icon {
    position: relative;
    z-index: 50;
    transform: scale(0.7);
    top: 5px;
    left: -49px;
    -webkit-animation: moveX 3s linear 0s infinite alternate, moveY 4s linear 0s infinite alternate;
    -moz-animation: moveX 3s linear 0s infinite alternate, moveY 4s linear 0s infinite alternate;
    -o-animation: moveX 3s linear 0s infinite alternate, moveY 4s linear 0s infinite alternate;
    animation: moveX 3s linear 0s infinite alternate, moveY 4s linear 0s infinite alternate;
}

.icon div {
    cursor: default;
}

@-webkit-keyframes moveX {
    from {
        left: -65px;
    }
    to {
        left: 300px;
    }
}

@-moz-keyframes moveX {
    from {
        left: -65px;
    }
    to {
        left: 300px;
    }
}

@-o-keyframes moveX {
    from {
        left: -65px;
    }
    to {
        left: 300px;
    }
}

@keyframes moveX {
    from {
        left: -65px;
    }
    to {
        left: 300px;
    }
}

@-webkit-keyframes moveY {
    from {
        top: -14px;
    }
    to {
        top: 290px;
    }
}

@-moz-keyframes moveY {
    from {
        top: -14px;
    }
    to {
        top: 290px;
    }
}

@-o-keyframes moveY {
    from {
        top: -14px;
    }
    to {
        top: 290px;
    }
}

@keyframes moveY {
    from {
        top: -14px;
    }
    to {
        top: 290px;
    }
}

/*298*/
/*304*/
.infoSection {
    width: auto;
    text-align: left;
    padding: 0 10px;
}

.description {
    font-size: 17px;
    line-height: 1.5;
    font-weight: 500;
}

@media only screen and (min-width: 2561px) {

    .AboutMe {
        min-height: 488px;
    }

    .imageSection {
        transform: scale(1.7) translate(90px, 73px);
    }

    .infoSection {
        margin-left: 350px;
    }

    .description {
        font-size: 30px;
    }

}

@media only screen and (max-width: 1649.98px) {
    .description {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1199.98px) {
    .AboutMe {
        width: calc(100% - 80px);
        padding: 100px 10px;
        flex-direction: column;
    }

    .imageSection {
        display: none;

    }
    .infoSection {
        background: #f6f6f6;
        width: 100%;
        padding: 30px;
        border-radius: 1.7rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        justify-content: center;
        align-items: center;
        transition: background 1s ease;
    }

    /*===============dark-mode===============================*/
    .darkMode .infoSection {
        background: black;
        box-shadow: 0 0 50px rgba(210, 97, 251, 0.2);
        transition: background 1s ease;
    }
}

.whiteMode {
    color: #1f1f1f;
    background-color: white;
    transition: color, background-color 1s ease;
}

/*===================================dark-mode==========================================*/
.darkMode {
    background-color: black;
    color: white;
    transition: color, background-color 1s ease;
}



@media only screen and (max-width: 767.98px) {
    .description {
        font-size: 12px;
    }
}