.projects {
    margin-top: 100px;
}

.title {
    text-align: left;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    gap: 65px;
    align-items: center;
    margin: 35px 0 50px 0;
}