.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Poppins,sans-serif;
  font-size: 1.3rem;
  color: #1f1f1f;
  background-color: #f6f6f6;
}

.contentContainer {
  width: 55vw;
  border: 1px solid red;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1F1F1F;
}